<!DOCTYPE html>
<html>
<head>
	<title>Bio Page</title>
	<link rel="stylesheet" href="me.css"/>
</head>
<body>
	<div class="center">
		<%= image_tag("profile.jpg", size: "200",:alt => "profile picture") %>
		<h3> Name: </h3>
			<p> Yudi Tan </p>
		<h3> Year:  </h3>
			<p> Sophomore </p>
		<h3> About me:  </h3>
			<p> I was born and raised in Singapore but my family moved to Houston, Texas 5 years ago.</p>
		<h3> Fun Fact: </h3>
			<p>I use to row dragon boat for my school team back in Singapore </p>
		<h3> What i'm excited about: </h3>
			<p> I'm very excited about learning how to use rails to rapidly prototype ideas given all the "magic" that rails offers! </p>
	</div>


</body>
</html>